
<!DOCTYPE html>
<html lang="en">

<!-- HTML HEADER   -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cracking The Resume</title>
    <link type="text/css" href="/stylesheets/acc.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../Javascript/account.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<!-- END OF HTML HEADER -->

<!-- HTML BODY -->
<body>

<!-- NAVIGATION BAR  -->
<nav id="navcol" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/split" style="font-size:30px">Cracking The Resume </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-size:19px">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/resumeViewing">View Other Resumes</a></li>
                        <li><a href="/accounts">View Your Resume</a></li>
                    </ul>
                </li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END OF NAVIGATION BAR  -->


<div class="container">
    <div class="row">

        <div class="col-md-6" style="text-align:center;">
            <!-- <img src="/<%=resumeRecord.resumeName%>" height="500" width="350"> -->
            <div class="tiles">
                <img class="tileind" data-scale="2.4" src="<%=resumeRecord.resumeName%>">
            </div>

            <div class="row displayLikes" style="display:none;">
              <h4>You have already voted</h4>
              <div class="col-md-6 like-button">
                <h3>Likes: <%=resumeRecord.upvoteCount%></h3>
              </div>
              <div class="col-md-6 dislike-button">
                <h3>Dislike: <%=resumeRecord.downvoteCount%></h3>
              </div>
            </div>

            <div class="row likeButtons">
              <h4>What do you think of this resume?</h4>
                <div class="col-md-3">
                  haha
                </div>
                <div class="col-md-3">
                    <!-- NEW LIKE BUTTON -->
                    <form class = 'upvote' action="/individual/<%=resumeRecord._id%>/upvote" method = "POST">
                        <button class="like">Like
                         <input class="qty1" name="qty1" readonly="readonly"
                        <%resumeRecord.upvotes.forEach(function(f){ %>
                            <%if(String(f.votedBy) === String(user._id)){ %>
                                id = "<%=f.status%>"
                            <%}%>
                        <%}); %>
                        />
                        </button>
                    </form>
                  </div>
                  <div class="col-md-3">
                    <!-- NEW DISLIKE BUTTON -->
                    <form class = 'downvote' action="/individual/<%=resumeRecord._id%>/downvote" method = "POST">
                         <button class="dislike"><i class="fa fa-thumbs-o-up"></i>
                        Disliksassaae <input class="qty2" name="qty2" readonly="readonly"
                        <%resumeRecord.downvotes.forEach(function(f){ %>
                            <%if(String(f.votedBy) === String(user._id)){ %>
                                id = "<%=f.status%>"
                            <%}%>
                        <%}); %>
                        />
                        </button>
                    </form>
                  </div>
                  <div class="col-md-3">
                    <p>haha</p>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                    <!-- COMMENT FORM BOX -->
                    <form method = "post" action = '/individual/<%=resumeRecord._id%>' role = 'form' target = "uploader_iframe">
                        <textarea type = 'text' class="form-control" rows="3" name="Message" id="Message" placeholder="Message" required onsubmit="triggerButton()"></textarea>
                        <h6 class="pull-right" id="count_message"></h6><h6 class="pull-left" id="countLeft"></h6>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- POSTCOMMENT BUTTON -->
                                <input type="submit" id="postIt" class="btn main-btn" value = "postComment"/>
                            </div> <!--END OF class = "col-md-12" DIV TAG -->
                        </div> <!-- END OF class = "row" DIV TAG -->
                    </form>
                    <!-- <iframe id = "uploader_iframe" name = "uploader_iframe" style = "display: none;"></iframe> -->
                  </div>
                </div> <!--END OF class = "col-md-12" DIV TAG -->
              </div>

              <div class="col-md-6" id="commentsWrapper">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="page-header">
                              <h1><small id="commentCount" class="pull-right"></small> Comments </h1>
                          </div>
                          <div class="comments-list">
                              <!-- for loop  -->
                              <%resumeRecord.comments.forEach(function(comment){ %>
                              <div class="media">
                                  <div class="media-body">
                                      <h4 class="media-heading user_name"><%=comment.username%></h4>
                                      <p class="break-word"><%=comment.content%></p>
                                  </div>
                              </div>
                              <%})%>
                          </div>
                      </div>
                  </div>
              </div>


            </div> <!-- END OF class = "row" DIV TAG -->

            <!-- <button type="button" class="pull-left" onclick="">Update Resume</button><br><br><br> -->
        </div>

		<aside>



    </div>
</div>

</body>
</html>
